@font-face {
  font-family: birdieFont;
  src: url(circular-std-medium-500.ttf);
}

html,
body {
  font-family: birdieFont;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  padding-top: 65px !important;
}
